@model DIM_WEB.Models.CampaniasModel
@{ int renglon = 0; }

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>





<script type="text/javascript">

     var urlEliminarCampania = '@Html.Raw(Url.Action("EliminarCampania", "Admin"))';

    $(document).ready(function () {
        $('#tabla-campania').DataTable();
    });

    let table = new DataTable('#tabla-campania', {

    });

    function eliminarCampania(idCampania) {

        $.ajax({
            url: urlEliminarCampania,
            type: 'POST',
            data: {
                "idCampania": idCampania
            },
            success: function (data) {
                if (data.Respuesta == "OK") {
                    location.reload();
                }
               
            },
            error: function (xhr, textStatus, errorThrown) {

            },
        });
    }

</script>

<div class="container p-2 my-5 d-flex justify-content-end">


    <a class="btn btn-primary btn-lg fw-bolder" href="../admin/CampaniaAlta" target="_blank" tabindex="-1" aria-disabled="true">
        <span style="color: #84a39c;" class="glyphicon glyphicon-plus p-1" aria-hidden="true"></span> Agregar una nueva Campaña
    </a>

</div>


<div class="container p-5 my-5 border">
    <h2>Campañas</h2>

    <table class="table" id="tabla-campania">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha Alta Campaña</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Tipo Campaña</th>
                <th scope="col">Dirección</th>
                <th scope="col">Contacto</th>
                <th scope="col">Cupos Disponibles</th>
                <th scope="col">Razas aceptadas</th>
                <th scope="col">Gestionar Campaña </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campania in Model.Campanias) {
                        renglon = renglon + 1;
                    <tr>                        
                        <th scope="row">@renglon</th>
                        <td>@campania.Campania.FechaCreacion.ToString("dd-MM-yyyy")</td>
                        <td>@campania.Campania.Nombre</td>
                        <td>@campania.Campania.Descripcion</td>
                        @if (campania.Campania.Tipo == 1)
                        {
                            <td>Vacunación</td>
                        }
                        else if (campania.Campania.Tipo == 2)
                        {
                            <td>Castración</td>
                        }
                        else { 
                            <td>Desparacitación</td>
                        }
                        <td>@campania.Direccion.Calle @campania.Direccion.Numero - @campania.Direccion.Localidad</td>
                        <td>@campania.Campania.Contacto</td>
                        <td>@campania.Campania.CuposDisponibles</td>
                        <td>@campania.RazasPermitidas</td>
                        <td><button type="button" class="btn btn-secondary" onclick="eliminarCampania(@campania.Campania.CampaniaID)" data-toggle="modal" data-target="#modal">Borrar Campaña #1</button></td>

                    </tr>
            }


        </tbody>
    </table>
</div>

