
@model DIM_WEB.Models.MascotasPeligrosasModel
@{ int renglon = 0;}

<div class="container p-2  d-flex justify-content-start">


    <a class=" fw-bolder" href="../admin/AdminHome" tabindex="-1" aria-disabled="true">
        <span style="color: #84a39c;" class="glyphicon glyphicon-arrow-left p-1" aria-hidden="true"></span>Volver al Admin Home
    </a>

</div>


<div class="container p-5 my-5 border">
    <h2>MascotasPeligrosas</h2>

    <table class="table" id="tabla-mascotas">
        <thead>
            <tr>
                <th scope="col" align="center">#</th>
                <th scope="col" align="center">Código DIM </th>
                <th scope="col" align="center">Nombre</th>
                <th scope="col" align="center">Especie</th>
                <th scope="col" align="center">Raza</th>
                <th scope="col" align="center">Sexo</th>
                <th scope="col" align="center">Pelaje</th>
                <th scope="col" align="center">Fecha de nacimiento</th>
                <th scope="col" align="justify">Nombre dueño</th>
                <th scope="col" align="center">Apellido dueño</th>
                <th scope="col" align="center">Estado Validacion </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mascota in Model.listaMascotaPeligrosas)
            {
                renglon = renglon + 1;


                <tr align="center">
                    <th scope="row">@renglon</th>
                    <td>@mascota.CodigoDim</td>
                    <td>@mascota.NombreMascota</td>
                    <td>@mascota.Especie</td>
                    <td align="center">@mascota.RazaMascota</td>
                    <td align="center">@mascota.SexoMascota</td>
                    <td align="center">@mascota.PelajeMascota</td>
                    <td align="center">@mascota.FechaDeNacimientoMascota.ToString("dd-MM-yyyy")</td>
                    <td align="center">@mascota.NombreDueño</td>
                    <td align="center">@mascota.ApellidoDueño</td>


                    @if (mascota.FechaVerificacionMascota == null)
                    {
                        <td class="d-flex justify-content-center">
                            <button type="button" class="btn btn-dim" onclick="validarMascota('@mascota.NombreMascota', @mascota.CodigoDim)"> Validar Mascota </button>
                        </td>

                    }
                    else
                    {

                        <td class="d-flex justify-content-center"><span class="fw-bold d-flex justify-content-center ">Validado   <span class="glyphicon glyphicon glyphicon-ok primary-color px-2 " aria-hidden="true"></span></span></td>

                    }

                </tr>


            }

        </tbody>
    </table>

</div>

<!-- Modal Confirmar Matricula-->
<div class="modal" id="modalValidarMascota" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">DIM - Mascotas Peligrosas</h3>
            </div>
            <div class="modal-body fw-bold d-flex justify-content-center" id="modal-valida-masc" style="font-size: 15px">
                <div class="loader" id="loader-mascota" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-dim " onclick="confirmarMascota()">Confirmar Mascota</button>
            </div>
        </div>
    </div>
</div>


<script>
    var codigoMascota = null;
    var urlVerificarMascota = '@Html.Raw(Url.Action("ValidarMascotaPeligrosa", "Admin"))';

    function validarMascota(mascotaNombre, codigoDim) {
        //cuando se lanza el ajax
        //$("#spinnerMascota").show();
        codigoMascota = codigoDim;
        document.querySelector("#modal-valida-masc").innerText = "Desea verificar a " + mascotaNombre + " ?";
        $('#modalValidarMascota').modal('show');

    }

    function confirmarMascota() {
        setTimeout(function () { f() }, 3000);
        $.ajax({
            url: urlVerificarMascota,
            type: 'POST',
            data: {
                "mascotaID": codigoMascota
            },
            success: function (data) {
                $('#loader-mascota').hide();
                if (data.Respuesta == "OK") {
                    $('#modalValidarMascota').modal('hide');
                    window.location.reload();
                } else {
                    alert("Error al validar Mascota")
                }
            },
            error: function (xhr, textStatus, errorThrown) {

            },
        });
    }

    function f() {
        $('#loader-mascota').show();
    }

</script>




<style>
    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #84a39c;
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
</style>