
@model DIM_WEB.Models.VeterinariasModel
@{ int renglon = 0;}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<div class="container p-2  d-flex justify-content-start">


    <a class=" fw-bolder" href="../admin/AdminHome" tabindex="-1" aria-disabled="true">
        <span style="color: #84a39c;" class="glyphicon glyphicon-arrow-left p-1" aria-hidden="true"></span>Volver al Admin Home
    </a>

</div>

<div class="container p-5 my-5 border">
    <h2>Profesionales Veterinarios - DIM</h2>

    <table class="table" id="tabla-campania">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha De Alta</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Número de Documento </th>
                <th scope="col">Número Matricula</th>
                <th scope="col">Validación Matricula</th>
                <th scope="col">Eliminar Veterinario </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var veterinario in Model.ListaVeterinaria) {
                renglon = renglon + 1;


                <tr>
                    <th scope="row">@renglon</th>
                    <td>@veterinario.FechaDeAlta.ToString("dd-MM-yyyy")</td>
                    <td>@veterinario.Nombre</td>
                    <td>@veterinario.Apellido</td>
                    <td>@veterinario.Email</td>
                    <td>@veterinario.Telefono</td>
                    <td>@veterinario.NumeroDocumento</td>
                    <td>@veterinario.NumeroMatricula</td>
                    
                    @if (veterinario.FechaDeVerificacionMatricula == null)
                    {
                        <td>
                            <button  type="button" class="btn btn-dim" onclick="validarVet(@veterinario.NumeroMatricula)"> Validar Veterinario </button>
                        </td>

                    }
                    else { 
                    
                        <td><span class="fw-bold d-flex justify-content-center ">Validado   <span class="glyphicon glyphicon glyphicon-ok primary-color px-2 " aria-hidden="true"></span></span></td>
                    
                    }


                    <td><button type="button" class=" btn btn-outline-dim" data-toggle="modal" data-target="#modalEliminarVet">Eliminar Veterinario</button></td>


                </tr>

            
            }

        </tbody>
    </table>
</div>

<!-- Modal Confirmar Matricula-->

<div class="modal fade" id="modalValidarMatricula" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Validación de Matricula</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-valida-vet">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-dim " onclick="validarVet()">Confirmar Validación</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Eliminar Veteriario-->
<div class="modal fade" id="modalEliminarVet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario DIM</h5>

            </div>
            <div class="modal-body" id="modal-valida-vet">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-dim ">Eliminar Veterinario</button>
                <button type="button" class="btn btn-outline-dim" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function validarVet(nroMatricula) {
        //marcar como validado
        alert("Matriula nro " + nroMatricula + " ha sido validada correctamente")
        window.location.reload();


    }

</script>
